<table cellspacing="0" cellpadding="0" width="100%" role="presentation" style="
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Inter:wght@300;400&display=swap');
    box-sizing: border-box;
    background-color: #f1f5f9;
    margin: 0;
    padding: 0;
    width: 100%;
  ">
  <tbody>
    <tr>
      <td style="box-sizing: border-box">
        <table style="box-sizing: border-box; margin: 0; padding: 0; width: 100%" width="100%" role="presentation"
          cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td style="
                  text-align: center;
                  padding: 25px 0;
                  box-sizing: border-box;
                ">
                <a href="#" title="GitDev" target="_blank" style="text-decoration: none; box-sizing: border-box">
                  <img width="60" src="https://res.cloudinary.com/dikzvwryp/image/upload/v1700529202/gitdev/logo.png" alt="GitDev" title="GitDev" style="
                      border: none;
                      max-width: 100%;
                      box-sizing: border-box;
                    " />
                </a>
              </td>
            </tr>
            <tr>
              <td style="
                  box-sizing: border-box;
                  margin: 0;
                  padding: 0;
                  width: 100%;
                ">
                <table width="570" align="center" cellpadding="0" cellspacing="0" role="presentation" style="
                    box-sizing: border-box;
                    border-radius: 4px;
                    background-color: #ffffff;
                    margin: 0 auto;
                    padding: 0;
                    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                  ">
                  <tbody>
                    <tr>
                      <td style="padding: 35px; box-sizing: border-box">
                        <h1 style="
                            color: #1c2233;
                            font-weight: bold;
                            font-family: 'DM Sans', sans-serif;
                            font-size: 19px;
                            text-align: left;
                            box-sizing: border-box;
                            margin-top: 0;
                          ">
                          Hello <%= username %>,
                        </h1>
                        <p style="
                            color: #4e5d78;
                            box-sizing: border-box;
                            font-family: 'Inter', sans-serif;
                            font-size: 16px;
                            line-height: 1.5em;
                            text-align: left;
                            margin-top: 0;
                          ">
                          You are receiving this email because we received a
                          password reset request for your account.
                        </p>
                        <table width="100%" align="center" cellpadding="0" cellspacing="0" role="presentation" style="
                            box-sizing: border-box;
                            margin: 30px auto;
                            padding: 0;
                            text-align: center;
                            width: 100%;
                          ">
                          <tbody>
                            <tr>
                              <td align="center" style="box-sizing: border-box">
                                <table style="box-sizing: border-box">
                                  <tbody>
                                    <tr>
                                      <td align="center" style="box-sizing: border-box">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                          style="box-sizing: border-box">
                                          <tbody>
                                            <tr>
                                              <td style="box-sizing: border-box">
                                                <a href="<%= resetLink %>" target="_blank" style="
                                                    font-family: 'DM Sans',
                                                      sans-serif;
                                                    box-sizing: border-box;
                                                    border-radius: 4px;
                                                    color: #ffffff;
                                                    display: inline-block;
                                                    font-weight: 500;
                                                    text-decoration: none;
                                                    background-color: #6400ff;
                                                    border-top: 12px solid
                                                      #6400ff;
                                                    border-right: 20px solid
                                                      #6400ff;
                                                    border-bottom: 12px solid
                                                      #6400ff;
                                                    border-left: 20px solid
                                                      #6400ff;
                                                  ">Reset Passord</a>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <p style="
                          font-family: 'Inter' , sans-serif;
                          box-sizing: border-box;
                          color: #4e5d78;
                          font-size: 16px;
                          line-height: 1.5em;
                          margin-top: 0;
                          text-align: left;
                        ">
                          This password reset link will expire in 60 minutes.
                        </p>
                        <p style="
                          font-family: 'Inter' , sans-serif;
                          box-sizing: border-box;
                          color: #4e5d78;
                          font-size: 16px;
                          line-height: 1.5em;
                          margin-top: 0;
                          text-align: left;
                        ">
                          If you did not request a password reset, no further
                          action is required.
                        </p>
                        <p style="
                          font-family: 'Inter' , sans-serif;
                          box-sizing: border-box;
                          color: #4e5d78;
                          font-size: 16px;
                          line-height: 1.5em;
                          margin-top: 0;
                          text-align: left;
                        ">
                          Regards,<br />
                          GitDev Team
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
