<%- include('./container/start.ejs') %>
<tr>
  <td style="padding: 35px; box-sizing: border-box">
    <h1 style="
      color: #1c2233;
      font-weight: bold;
      font-family: 'DM Sans', sans-serif;
      font-size: 19px;
      text-align: left;
      box-sizing: border-box;
      margin-top: 0;
    ">
      Hello <%= username %>,
    </h1>
    <p style="
      color: #4e5d78;
      box-sizing: border-box;
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      line-height: 1.5em;
      text-align: left;
      margin-top: 0;
    ">
      Please enter the below token to verify your account.
    </p>
    <span style="
      color: #14003C;
      display: inline-block;
      box-sizing: border-box;
      background-color: #ECDFFF;
      border-radius: 6px;
      font-family: 'DM Sans', sans-serif;
      font-weight: 400;
      font-size: 48pxpx;
      padding: 2px 6px;
  ">
      <%= token %>
    </span>
  <table style="
    font-family: 'Inter' , sans-serif;
    box-sizing: border-box;
    border-top: 1px solid #edeff2;
    margin-top: 25px;
    padding-top: 25px;
">
    <tbody>
      <tr>
        <td style="box-sizing: border-box">
          <p style="
            font-family: 'Inter' , sans-serif;
            box-sizing: border-box;
            color: #4e5d78;
            font-size: 12px;
            line-height: 1.5em;
            margin-top: 0;
            text-align: left;
          ">
            You'e receiving this email because you recently created a new GitHub account. If this wasn't you, please ignore this email.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
<%- include('./container/end.ejs') %>
